body {
  background-color: #82d4f3;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
}
main {
  margin: 1em;
}
.item {
  display: flex;
}
.item > * {
  margin-right: 0.3em;
}

.item img,
.item span.no-image {
  width: 25px;
  height: 25px;
}
span.completed {
  text-decoration: line-through;
}
input.completed {
  border-color: green;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
