body {
  background-color: #82d4f3;
}

[v-cloak] {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
}
header h1 {
  word-wrap: none;
  font-weight: bold;
}
section.back-button {
  background-color: #fff;
  /* border-top: 1px solid #000; */
  margin-top: 2px;
  padding: 5px 10px;
}
section.back-button a {
  color: #000;
}

main.home {
  margin: 1em;
}
#big-buttons {
  display: flex;
}
#big-buttons a.park {
  background-color: #f6eb13;
  margin: 20px;
}
#big-buttons a.nature {
  background-color: #35b449;
  margin: 20px;
}
#big-buttons a {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  color: #000;
  font-size: 25pt;
  text-decoration: none;
  text-align: center;
}
main {
  margin: 1em 0.5em;
}
.item {
  display: flex;
  height: 60px;
  cursor: pointer;
  line-height: 44px;
  padding: 0.5rem;
}
.item > * {
  margin-right: 0.3em;
}
.item span {
  white-space: nowrap;
  min-width: 100px;
}

.item img,
.item span.no-image {
  width: 4x;
  height: 45px;
}
.item.complete {
  background-color: #eee;
}
span.complete {
  text-decoration: line-through;
}
input.complete {
  border-color: green;
}
input[type="checkbox"] {
  width: 45px;
  height: 45px;
}

footer {
  margin: 2em;
  text-align: center;
}

/* Try making the header responsive */
@media (max-width: 1200px) {
  header img {
    height: 80px;
  }
}
@media (max-width: 960px) {
  header img {
    height: 70px;
  }
}
@media (max-width: 680px) {
  header img {
    height: 60px;
  }
}
@media (max-width: 550px) {
  h1.display-1 {
    font-size: 20pt;
    line-height: 40pt;
  }
  header img:first-of-type {
    margin-left: -10px;
  }
  header img:last-of-type {
    margin-right: -10px;
  }
}
