<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=z"utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scavenger Stroll</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <header>
      <h1><img src="images/countyparks.png" clas="img-fluid" /></h1>
      <h1>Scavenger Stroll</h1>
      <h1><img src="images/quadpod.png" clas="img-fluid" /></h1>
    </header>

    <main id="app">
      <div v-for="item in items.nature" class="item">
        <img v-if="item.image" v-bind:src="`images/${item.image}`" />
        <span v-else class="no-image"></span>
        <label>
          <input type="checkbox" v-model="item.completed" v-bind:class="{completed: item.completed}" />
          <span v-bind:class="{completed: item.completed}">{{ item.name }}</span>
        </label>
      </div>
    </main>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
  </body>
</html>
